@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}

.main-section {
    width: 100%;
    height: 100vh;
    .container {
        width: calc(100% - 250px);
        right: 0;
        height: 100%;
        header {
            width: 100%;
            height: 60px;
            .logo {
                color: #222;
                font-size: 30px;
            }
            button {
                color: #fff;
                background-color: rgb(0, 89, 255);
                border-radius: 10px;
                transition: .5s ease-in-out;
                cursor: pointer;
            }
            button:hover {
                background-color: gold;
                color: #000;
                transform: scale(1.1);
            }
        }
    }
    aside {
        width: 250px;
        height: 100%;
        background-color: #333;
        .user-info {
            width: 100%;
            height: 100px;
            top: 0;
            border-bottom: 1px solid #555;
            .user-container {
                inset: 10px;
                .image {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    left: 20%;
                    top: 50%;
                    transform: translate(-50% , -50%);
                    background-color: #ccc;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .info {
                    left: 60%;
                    top: 50%;
                    transform: translate(-50% , -50%);
                    width: 120px;
                    height: 40px;
                    color: #fff;
                }
            }
        }
        .others {
            bottom: 0;
            width: 100%;
            height: calc(100% - 100px);
            .part-1 {
                width: 100%;
                height: 200px;
                .title {
                    left: 50%;
                    top: 15%;
                    transform: translate(-50% , -50%);
                    width: 90%;
                    height: 20%;
                    color: #777;
                    font-size: 20px;
                    user-select: none;
                }
                .category {
                    width: 100%;
                    height: 72%;
                    bottom: 0;
                    .option {
                        width: 100%;
                        height: 50px;
                        color: whitesmoke;
                        cursor: pointer;
                        border-bottom: 1px solid #555;
                    }
                    .option:hover {
                        background-color: #444;
                    }
                }
            }
            .part-2 {
                width: 100%;
                height: 200px;
                top: 40%;
                .title {
                    left: 50%;
                    top: 15%;
                    transform: translate(-50% , -50%);
                    width: 90%;
                    height: 20%;
                    color: #777;
                    font-size: 20px;
                    user-select: none;
                }
                .category {
                    width: 100%;
                    height: 72%;
                    bottom: 0;
                    .option {
                        width: 100%;
                        height: 50px;
                        color: whitesmoke;
                        border-bottom: 1px solid #555;
                        cursor: pointer;
                    }
                    .option:hover {
                        background-color: #444;
                    }
                }
            }
            .part-3 {
                width: 100%;
                height: 100px;
                top: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    border-radius: 10px;
                    background-color: rgb(0, 110, 255);
                    color: #fff;
                    letter-spacing: .5px;
                    transition: .5s ease-in-out;
                    cursor: pointer;
                }
                button:hover {
                    background-color: yellow;
                    color: #000;
                    transform: scale(1.1);
                }
            }
        }
    }
}
@media (max-width: 620px) {
    .main-section {
        aside {
            width: 200px;
            .user-info {
                .user-container {
                    .image {
                        width: 40px;
                        height: 40px;
                    }
                    .info {
                        left: 65%;
                    }
                }
            }
        }
        .container {
            header {
                .logo {
                    font-size: 25px;
                }
                button {
                    width: 120px;
                }
            }
        }
    }
}
